* {    /*reset margins and paddings*/
margin: 0;
padding: 0;
}

body {
	width: 100%;
	background-color: #3B653D;
}

@media only screen and (max-width: 767px) {



h1#mobile {
	
	width: 50%;
	margin: 0 auto 0 auto;
	text-align: center;
	font-size: 3.5em;
	font-family: 'Permanent Marker', cursive;

	color: #cccccc;
	background-color: black;
}

header {
	margin-bottom: 50px;
	height: 100%;
}

p#intro {
	font-family:  'Roboto', sans-serif;
	font-size: 1.0em;
	margin: 0 auto 50px auto;
	width: 80%;
	color:#cccccc;
	border: 2px solid white;
	padding: 5px;
}



.cntbox-type1 {
	width: 90%;
	margin: 10px auto 0 auto;
	height: 200px;
	/*border: 1px solid black;*/
}

 p#mainword {
 	padding: 10px;
 	width: 80%;
 	max-width: 300px;
 	background-color: black;
 	margin: 0 auto 0 auto;
	color: #cccccc;
	font-family: 'Permanent Marker', cursive;
	font-size: 1.5em;
	text-align: center;
	-webkit-box-shadow: -1px 7px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 7px 28px 0px rgba(0,0,0,0.75);
box-shadow: -1px 7px 28px 0px rgba(0,0,0,0.75);
}

p#usage {
	color: white;
	font-family:  'Roboto', sans-serif;
	margin-top: 20px;
	text-align: center;
}

footer {
	background-color: black;
	width: 100%;
	height: 180px;
}

footer ul {
	list-style-type: none;
	text-align: center;
	padding: 20px;

}

footer ul li {
	position: relative;
	right:15px;
	width: 50%;
	max-width: 150px;
	margin: 0 auto 10px auto;
	border-left: 5px solid white;

	padding-left: 20px;

}

footer ul li a {
	color: #cccccc;
	text-decoration: none;
	font-family: 'Permanent Marker', cursive;
	font-size: 1.8em;
	
	
}


}